.Bind {
    display: flex;
    justify-content: center;
}

.ColContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
}

.ColContainer * {
    flex-grow: 0;
}

.ColContainer h4 {
    min-width:4rem;
    text-align: center;
}

.ColContainer p {
    font-size: .75rem;
    margin: .25rem;
}

.ColContainer input {
    max-width:4rem;
    text-align: center;
    margin: 0;
}