.ConnectController {
    display: flex;
    flex-direction: column;
    color: white;
}

.ConnectController h2 {
    color: white;
    text-align: center;
    margin: 1rem;
    margin-bottom: 0;
}

.ConnectController button {
    margin-top: 1rem;
}

.ConnectController hr {
    width: 90%;
}

.ConnectController select, .ConnectController option {
    overflow: hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    max-width: 28rem;
}