.Header {
    display: flex;
    justify-content: space-between;
    background-color: #666666;
    padding: .5em;
    color: white;
    font-weight: 700;
    font-size: 32px;
}

.Header p {
    margin: 1rem;
}