.ButtonGroup {
    display: flex;
    flex-direction: column;
}

.Row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.RowSelect {
    margin: 1rem;
}