.Bind {
    display: flex;
    justify-content: center;
}

.Mini {
    flex-direction: column;
}

.ColContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 1rem;
}

.ColContainer * {
    flex-grow: 0;
}

.ColContainer h4 {
    min-width:4rem;
    text-align: center;
}

.Mini p {
    min-width:4rem;
    text-align: center;
}

.ColContainer input {
    max-width:4rem;
    text-align: center;
}